*{
  margin: 0;
  padding: 0%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #ffffff;
}

nav{
  display: flex;
  width: 84%;
  margin: auto;
  padding: 20px 0;
  align-items: center;
  justify-content: space-between;
}

nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a{
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}
  
nav ul li a:hover{
  color: rgba(12, 193, 206, 0.637);
}

.dete1{
  margin-left: 8%;
  margin-top: 13%;  
}

.dete1 h1{
  font-size: 50px;
  color: #212121;
  margin-bottom: 20px; 
}

span {
 color: rgb(0, 247, 255); 
}

.dete1 p{
  color: #555555;
  line-height: 22px;
}

.dete1 a{
  background: #212121;
  padding: 10px 18px;
  text-decoration: none;
  font-weight: bold;
  color: #ffffff;
  display: inline-block;
  margin: 30px 0;
  border-radius: 5px;
}

.images{
  width: 25%;
  height: 50%;
  position: absolute;
  bottom: 0;
  right: 100px;
}

.images img{
  width: 50%;
  height: 100%;
  position: absolute;
  bottom: 0;
  transform: translate(-50%);
  transition: bottom 1s, left 1s;
}

/* .images:hover .shape{
  bottom: 40px;
} */

.images:hover .boy{
  left: 45%;
  border-top-left-radius: 2cm;
  border-radius: 2%;
}

.logo { 
  font-size: 25px;
  color: #555555;
  text-decoration: none;
  font-weight: 600; 
}  
/* body {
  background-color: aqua;
} */